html,
body {
  font-family: serif;
}

body {
  margin: 20px;
}

.general-wrapper {
  display        : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  width: 40vw;
  justify-content: center;
  font-size: 4vw;
}

.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  margin-top: 2vh;
}

.first-block,
.second-block {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.first-block {
  background-image: url(./image/airfares_2.jpg.crdownload);
}

section article {
  background-position-x: right;
}

.second-block {
  background-image: url(./image/unnamed.jpg);
}

article {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  text-align: center;
  line-height: 2;
  color:#99ef0b;
}

.span {
  font-size: 3vw;
  font-weight: bold;
  text-transform: capitalize;
}